.App {
    height: 100%;
    width: 100%;
}

.Login .login-container {
    width: 45rem;
    height: 30rem;
}

.sidePanelWidth {
    width: 18%;
}

.contentWidth {
    width: 82%;
}

.contentTitle {
    width: 100%;
    height: 8%;
}

.contentContainer {
    width: 100%;
    height: 92%;
}

.util {
    height: 7%;
    display: flex;
    align-items: center;
}

.util-content {
    height: 93%;
    width: 100%;
}

.h-88 {
    height: 88%;
}

.h-12 {
    height: 12%;
}
